/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */

.app-container {
    display: flex;
    height: 100%;
    width: 100vw;
}

.app-topbar {
    height: 5%;
    background-color: yellowgreen;
    position: static;
    padding: 2px;
}

.app-menu {
    flex: 1;
    background-color: gray;
}

.app-content {
    flex: 4;
}
